body {
  padding: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form > * {
  margin: 40px;
}

input {
  width: 400px;
}

.options {
  position: absolute;

}

button {
  margin: auto;
}

.options {
  background-color: white;
}

.options > div:hover {
  background-color: lightgrey;
}

.display-container {
  display: flex;
  flex-direction: row;
}

.display-container > .display {
  width: 50%;
}

.display {
  display: flex;
  flex-direction: column;
}


